<div class="footer">
  <p class="text-muted small">
    <strong>Disclaimer:</strong>Această platformă are un caracter pur informativ. Deși datele preluate de la ENTSO-E sunt de o acuratețe
    absolută, semnalele emise de motorul de procesare servesc drept instrument decizional orientativ. Implementarea deciziilor comerciale
    directe pe bursa de energie sau asumarea riscurilor unui contract dinamic trebuie tratate cu maximă prudență, necesitând o educație
    financiară și energetică prealabilă din partea consumatorului final.r
  </p>
  <p class="text-muted small">© 2026 AlertApp - Proiect de Licență</p>
</div>
